<?xml version="1.0"?>
<launch>
	<!-- acquisition arguments -->
	<arg name="plugin" default='rosneuro::EGDDevice'/>
	<arg name="devarg" default='eego|EEG_MASK|0x001FFF600779CF25'/> <!-- 32ch no EOG -->
	<arg name="framerate" default='16'/>
	<arg name="samplerate" default='512'/>

	<!-- acquisition node -->
	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen">
  	  <param name="~plugin" 	  value="$(arg plugin)"/>
  	  <param name="~devarg" 	  value="$(arg devarg)"/>
  	  <param name="~samplerate" value="$(arg samplerate)"/>
  	  <param name="~framerate"  value="$(arg framerate)"/>
  	</node>

	<!-- neuroviz node -->
	<node name="neuroviz" pkg="rosneuro_visualizer" type="neuroviz" output="screen" />

</launch>
